.container {
    height: 300px;
    position: relative;
  }
  
   .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .div2 {
    background-color: lightblue;
    width: 36%;
    text-align: center;
    border-radius: 5%;
    display:block;
    margin: 0 auto;
  }
  .div {
    background-color: rgb(253, 253, 67);
    text-align: center;
    border-radius: 6%;
    display:block;
    margin: 0 auto;
    width: 36%;
    padding: 7px;
  }
  .partesotto {
    display: inline-block;
    width: 100%;
  }
